<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12">
                <div class="about-content">
                    <div class="about-content__inner">
                        <div class="about-content__img"  data-aos="zoom-in-up">
                            <img src="{{webRoot}}/assets/images/aboutus.jpg" alt="{{config.defaultImgAlt}}"
                                class="img-fluid">
                        </div>
                        <!-- about-img -->
                        <div class="about-content__desc" data-aos="fade-left">
                            <div class="section-heading about-content__heading">
                                <p>Welcome To</p>
                                <h1>Our <span>ProShine</span> Window Cleaning</h1>
                            </div>
                            <div class="about-content__shortdesc">
                                <p><span>ProShine</span> Window Cleaning is a local, family-owned business run by three brothers who,
                                    after graduating from Northwest Nazarene University, decided to stay in the Boise
                                    area to enjoy all four of Southwest Idaho's beautiful seasons and abundance of
                                    outdoor activities.</p>
                            </div>
                            <div class="about-content__ctaactions">
                              <a href="#" class="btn btn-primary">Know More</a>
                              <a href="#" class="btn btn-secondary">Request a quote</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>