<section id="hww" class="hww">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12">
                <div class="section-heading" data-aos="fade-right">
                    <p>3 Easy steps</p>
                    <h1>How <span>ProShine</span> Works</h1>
                </div>
            </div>
            <!-- /Section Heading-->
        </div>
        <div class="hww__steps">
            <div class="row">
                <div class="col-12 col-lg-4 col-md-12 col-sm-12">
                    <div class="hww__steps-single" data-aos="fade-zoom-in" data-aos-easing="ease-in-back"
                        data-aos-delay="300" data-aos-offset="0">
                        <div class="hww__steps-single-icon">
                            <img src="{{webRoot}}/assets/images/home_capture.svg" alt="{{config.defaultImgAlt}}"
                                class="img-fluid">
                            <div class="hww__steps-count">
                                <span>1</span>
                            </div>
                        </div>

                        <div class="hww__steps-desc">
                            <p>Take a <strong>picture of each side</strong> of your <strong>home</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 col-md-12 col-sm-12">
                    <div class="hww__steps-single" data-aos="fade-zoom-in" data-aos-easing="ease-in-back"
                        data-aos-delay="350" data-aos-offset="0">
                        <div class="hww__steps-single-icon">
                            <img src="{{webRoot}}/assets/images/whatsapp_phone.svg" alt="{{config.defaultImgAlt}}"
                                class="img-fluid">
                            <div class="hww__steps-count">
                                <span>2</span>
                            </div>
                        </div>

                        <div class="hww__steps-desc">
                            <p>WhatsApp Picture to this <strong>200-830-4893</strong> number</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 col-md-12 col-sm-12">
                    <div class="hww__steps-single" data-aos="fade-zoom-in" data-aos-easing="ease-in-back"
                        data-aos-delay="400" data-aos-offset="0">
                        <div class="hww__steps-single-icon">
                            <img src="{{webRoot}}/assets/images/invoice.svg" alt="{{config.defaultImgAlt}}"
                                class="img-fluid">
                            <div class="hww__steps-count">
                                <span>3</span>
                            </div>
                        </div>

                        <div class="hww__steps-desc">
                            <p>We will be <strong>contact</strong> with a <strong>Quote</strong> to you soon</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12">
                    <div class="hww__steps-cta" data-aos="fade-left">
                        <a href="#" class="btn btn-primary">Request a quote</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>