<!-- Header -->
<header id="header" class="header">
    <div class="navbar  navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <div class="site-brand navbar-dark">
                <a href="index.html" class="navbar-brand">
                    <img src="{{webRoot}}/assets/images/logo_proshine.png" class="img-fluid"
                        alt="{{config.defaultImgAlt}}">
                </a>
            </div>
            <!-- /Site brand -->
            <div class="site-navigation">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#siteNavigation"
                    aria-controls="siteNavigationLabel">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- /Navbar Toggle -->
                <nav class="navbar site-navbar">
                    <div class="offcanvas offcanvas-start" tabindex="-1" id="siteNavigation"
                        aria-labelledby="siteNavigationLabel">
                        <div class="offcanvas-header">
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <ul class="navbar-nav d-flex align-items-center justify-content-evenly">
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="index.html">Home</a>
                                </li>
                                <!-- /home -->
                                <li class="nav-item">
                                    <a class="nav-link" href="about.html">About Us</a>
                                </li>
                                <!-- /about -->
                                <li class="nav-item">
                                    <a class="nav-link" href="services.html">Services</a>
                                </li>
                                <!-- /services -->
                                <li class="nav-item">
                                    <a class="nav-link" href="index.html#reviews">Reviews</a>
                                </li>
                                <!-- /reviews -->
                                <li class="nav-item">
                                    <a class="nav-link" href="blog.html">Blog</a>
                                </li>
                                <!-- /blog -->
                                <li class="nav-item">
                                    <a href="contact.html" class="btn btn-secondary">Request a quote</a>
                                </li>
                                <!-- /request a quote -->
                            </ul>
                            <!--/Navigation -->
                        </div>
                    </div>
                    <div class="search-container">
                        <!-- <img src="{{webRoot}}/assets/images/search.svg" alt="Search"> -->
                        <a class="button btn-search" href="javascript:void(0);" role="button" aria-controls="siteSearch"
                            type="button" data-bs-toggle="modal" data-bs-target="#siteSearch">
                            <span class="fas fa-search"></span>
                        </a>
                        <!-- Modal -->
                        <div class="modal fade site-search" id="siteSearch" data-bs-backdrop="static"
                            data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-xl site-search-modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Search Here</h1>
                                        <button type="button" class="btn-search-close" data-bs-dismiss="modal"
                                            aria-label="Close"><span class="fas fa-xmark"></span></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="" class="form">
                                            <div class="form-input-controls search-input-control">
                                                <input type="search" class="form-control" id="search" name="search">
                                            </div>
                                            <!-- /Search Input-->
                                            <button id="searchBtn" class="btn btn-primary btn-search" type="submit">Search</button>
                                             <!-- /Search Button -->
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/Search -->
                    </div>
                    <!-- /Search -->
                </nav>
            </div>
            <!-- /Site Navigation -->
        </div>
    </div>
    </div>
    <!-- /Navigation -->
</header>
<!-- /Header -->