.about {
    position: relative;
    padding: 80px 0;

    .about-content {
        text-align: center;

        .about-content__inner {
            width: 100%;
            max-width: 842px;
            margin: 0 auto;

            .about-content__desc {
                .section-heading {
                    margin-bottom: 1rem;
                }

                span {
                    font-family: $secondary-font-family;
                }
            }
        }

    }
}

.services {
    position: relative;
    padding: 5rem 0;
    background-color: #EEF2F5;
    text-align: center;

    .section-heading {
        margin-bottom: 2rem;
    }

    .service-article {
        margin-bottom: 2rem;
    }

    .service-article__img {
        img {
            width: 100%;
        }
    }

    .service-article__content {
        text-align: left;
        @include flexbox();
        align-items: center;
        justify-content: space-between;
        height: 120px;

        @include media-breakpoint-only(xs) {
            height: auto;
        }

        .service-article__content-heading {
            @include flexbox();
            align-items: center;
            justify-content: flex-start;
            gap: 15px;

            .service-article__meta {
                .service-article__category {
                    text-transform: capitalize;
                    color: $orange;
                    font-size: 1rem;
                    margin-bottom: 0;
                }
            }
        }
    }

    .swiper-pagination-bullets.swiper-pagination-horizontal {
        position: relative;
        bottom: 0;
    }
}

.hww {
    position: relative;
    padding: 80px 0;
    text-align: center;

    .section-heading {
        margin-bottom: 2rem;
    }

    .hww__steps {
        .row {
            div[class*=col-]:nth-child(3) {
                .hww__steps-single {
                    &::after {
                        display: none;
                    }
                }
            }
        }

    }

    .hww__steps-single {
        position: relative;
        text-align: center;
        margin-bottom: 4rem;

        &::after {
            content: '';
            background-image: url('../../assets/images/arrow_works.svg');
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            right: -32%;
            top: 40%;
            @include translate(-50%, -50%);
            width: 103px;
            height: 103px;
        }

        .hww__steps-single-icon {
            position: relative;
            width: 216px;
            height: 216px;
            line-height: 216px;
            border: 0px solid #000;
            border-radius: 50%;
            background-color: #EEF2F5;
            margin: 0 auto 32px;

            .hww__steps-count {
                position: absolute;
                width: 32px;
                height: 32px;
                background: #0C243C;
                border: 0px solid #0C243C;
                border-radius: 50%;
                margin: 0 auto;
                line-height: 32px;
                color: #fff;
                font-family: $secondary-font-family;
                font-size: 1rem;
                left: 50%;
                bottom: 0;
                @include translate(-50%, 50%);
            }
        }

        .hww__steps-desc {
            p {
                width: calc(100% - 45%);
                margin: 0 auto;
            }
        }
    }
}

.reviews {
    position: relative;
    padding: 80px 0;
    text-align: center;
    background-color: #EEF2F5;

    .section-heading {
        margin-bottom: 2rem;
    }

    .reviews__content {
        position: relative;
        max-width: calc(100% - 25.666667%);
        width: 100%;
        margin: 0 auto 2rem;
        text-align: center;
        background-color: #fff;
        box-shadow: 0 11px 32px 0 rgb(0 0 0 / 10%);
        padding: 32px 0;
        border: 0px solid #fff;
        border-radius: 8px;

        .reivews__content-single {
            .reviews__icon {
                svg {
                    font-size: 60px;
                    color: #EEF2F5;
                }
            }

            .reviews__author {
                p {
                    font-size: 1.2rem;
                    font-weight: 600;
                    margin-bottom: 0;
                }
            }

            .reviews__rating {
                @include flexbox();
                align-items: center;
                justify-content: center;

                .my-rating {
                    @include flexbox();
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .reviews__text {
            padding: 0 24px;

            p {
                margin-bottom: 0;
            }
        }

        .reviews__rating {
            p {
                margin-bottom: 0;
            }
        }
    }

    .swiper-pagination-bullets.swiper-pagination-horizontal {
        position: relative;
        bottom: 0;
    }
}

.blog {
    position: relative;
    padding: 80px 0;
    text-align: center;

    .section-heading {
        margin-bottom: 2rem;
    }

    .article {
        margin-bottom: 2rem;

        .article-card {
            img {
                width: 100%
            }

            .article__content {
                text-align: left;
                @include flexbox();
                align-items: center;

                .article__content-heading {
                    .article__title {
                        span {
                            color: $orange;
                        }
                    }

                    .article__meta-date {
                        font-size: 1rem;
                    }
                }

                .article__viewmore {
                    font-size: 1.5rem;
                }
            }
        }
    }
}

//About Page
.about-hero {
    background-image: url("../images/about-hero.jpg");
}

.about_content {
    position: relative;
    padding: 5rem 0;
    background-color: #EEF2F5;

    .about_content__right {
        position: relative;
        margin-bottom: 1rem;

        .about_content__right-img {
            position: relative;

            img {
                width: 100%;
            }
        }
    }

    .about_content__left {
        .section-heading {
            margin-bottom: 1rem;
            text-align: left;
        }
    }
}

.cta__about {
    background-image: url("../images/cta_banner_about.jpg");
}

//Contact Page
.contact-hero {
    background-image: url("../images/contact-hero.jpg");
}

.contact-map {
    [class*="col-"] {
        padding: 0;
    }

    position: relative;

    .contact-map__frame {
        width: 100%;
        background-color: #EEF2F5;

        iframe {
            width: 100%;
            height: 600px;
        }
    }
}

.request-quote-form {
    position: relative;
    padding: 5rem 0;

    .request-quote-form__controls {
        .request-quote-form__controls-inner {
            position: relative;
            background-color: #EEF2F5;
            padding: 65px 95px;
            @include box-shadow(0, 4px, 25px, rgba(0, 0, 0, 0.1));
        }

        .request-quote-form__heading {
            @include flexbox();
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
        }

        .form-input-controls {
            margin-bottom: 1rem;

            .form-control {
                border: none;
                border-radius: 5px;
            }

        }
    }
}

//Contact Page

//Services Page
.services-hero {
    background-image: url("../images/services-hero.jpg");
}

.serviceslist {
    position: relative;
    padding: 5rem 0;

    .serviceslist-article {
        margin-bottom: 3rem;

        .serviceslist-article-card {
            border: none;
            border-radius: 5px;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);

            .serviceslist-article__img {
                img {
                    width: 100%;
                }
            }

            .serviceslist-article__content {
                @include flexbox();
                align-items: flex-start;
                justify-content: flex-start;
                flex-flow: column nowrap;

                .serviceslist-article__content-heading {
                    .serviceslist-article__meta {
                        @include flexbox();
                        justify-content: space-evenly;
                        align-items: flex-start;
                        flex-flow: column nowrap;
                        height: 320px;

                        @include media-breakpoint-only(xs) {
                            height: auto;
                        }

                        .serviceslist-article__title {
                            @include flexbox();
                            flex-flow: row nowrap;
                            margin-bottom: 1rem;
                            font-weight: 700;
                        }
                    }
                }

                @include media-breakpoint-only(xs) {
                    .article__readmore {
                        width: 100%;
                    }
                }

            }
        }
    }
}

.cta__services {
    background-image: url("../images/cta_banner_services.jpg");


    .cta__banner-content {
        h1 {
            width: calc(100%-25%);
        }

        @include media-breakpoint-only(lg) {
            width: 100%;
        }
    }
}

//Blog Page
.blogs-hero {
    background-image: url("../images/services-hero.jpg");
}

.cta__blogs {
    background-image: url("../images/cta_banner_services.jpg");

    .cta__banner-content {
        h1 {
            width: calc(100% - 25%);

            @include media-breakpoint-only(xs) {
                width: 100%;
            }
        }
    }
}

.bloglists {
    position: relative;
    padding: 5rem 0;

    .bloglists-article {
        margin-bottom: 3rem;

        .bloglists-article-card {
            border: none;
            border-radius: 5px;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);

            .bloglists-article__img {
                img {
                    width: 100%;
                }
            }

            .bloglists-article__content {
                @include flexbox();
                align-items: flex-start;
                justify-content: flex-start;
                flex-flow: column nowrap;

                .bloglists-article__content-heading {
                    .bloglists-article__meta {
                        @include flexbox();
                        justify-content: space-evenly;
                        align-items: flex-start;
                        flex-flow: column nowrap;
                        height: 280px;

                        @include media-breakpoint-only(xs) {
                            height: auto;
                        }

                        .bloglists-article__title {
                            font-size: 20px;
                            font-weight: 700;

                            @include media-breakpoint-only(xs) {
                                margin-bottom: 1rem;
                            }

                            .blogslists-article__author {
                                color: $orange;
                                text-transform: lowercase;
                            }
                        }

                        .bloglists-article__date {
                            margin-bottom: 0;

                            @include media-breakpoint-only(xs) {
                                margin-bottom: 1rem;
                            }
                        }
                    }
                }

                @include media-breakpoint-only(xs) {
                    .article__readmore {
                        width: 100%;
                    }
                }

            }
        }
    }
}



//Media Quries
@include media-breakpoint-down(xl) {
    .hww {
        .hww__steps-single {
            &::after {
                right: -40%;
            }
        }
    }
}

@include media-breakpoint-down(lg) {
    .hww {
        .hww__steps {
            .row {
                .col-md-12:nth-child(3) {
                    .hww__steps-single {
                        margin-bottom: 2rem;
                    }
                }
            }

            .hww__steps-single {
                margin-bottom: 8rem;

                &::after {
                    right: calc(100% - 58.666666%);
                    top: 100%;
                    @include rotate(90);
                }
            }
        }

    }

    .reviews {
        .reviews__content {
            margin: 0 auto 1rem;
            max-width: 100%;
        }
    }

    .blog {
        .article {
            margin-bottom: 2rem;

            .article-card {

                .article__content {
                    padding: .5rem;

                    .article__content-heading {
                        @include flexbox();
                        flex-flow: column nowrap;

                        .article__title {
                            @include flexbox();
                            flex-flow: column nowrap;
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-only(xs) {

    .about,
    .services,
    .serviceslist,
    .hww,
    .reviews,
    .blog,
    .request-quote-form,
    .bloglists {
        padding: 2.5rem 0;
    }

    .about {
        .about-content__desc {
            .about-content__ctaactions {
                a.btn {
                    width: 100%;
                    margin-bottom: 1rem;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .hww {
        .hww__steps-single {
            .hww__steps-desc {
                p {
                    width: 100%;
                }
            }
        }
    }

    .request-quote-form {
        .request-quote-form__heading {
            text-align: center;
        }

        .request-quote-form__controls {
            .request-quote-form__controls-inner {
                padding: 1rem .5rem;
            }

            button {
                width: 100%;
                margin: 0 auto;
            }
        }
    }
}
