<footer class="footer" data-aos="fade-up">
    <div class="container-fluid">
        <ul class="list-unstyled d-flex justify-content-center">
            <li><a href="#">Link Text</a></li>
            <li><a href="#">Link Text</a></li>
            <li><a href="#">Link Text</a></li>
            <li><a href="#">Link Text</a></li>
        </ul>
    </div>
</footer>
<!-- Vendor JS -->
<script src="{{webRoot}}/assets/js/vendor.bundle.js"></script>
<!-- Theme JS -->
<script src="{{webRoot}}/assets/js/theme.bundle.js"></script>