.site-navbar {
    .nav-item {
        margin-right: 1rem;

        .nav-link {
            text-transform: uppercase;
            color: $white;
            &:hover{
                color:$orange;
            }
        }
        .active{
            color:$orange;
        }
    }
}

.site-navigation {
    @include flexbox();
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    flex-flow: row nowrap;
}
// Media Queries
@include media-breakpoint-down(xl) {
    .site-brand {
        .navbar-brand {
            img {
                width: 180px;
                height: auto;
            }
        }
    }
}

@include media-breakpoint-down(lg){
    .site-navbar {
        .nav-item {
            margin-right: 0;
            width:100%;
            .nav-link {
                border-bottom: 1px solid rgb(255 255 255 / 30%);
                margin-bottom: 1rem;
                &:last-child{
                    margin-bottom: 0;
                }
            }
            a.btn{
                width:100%;
            }
        }
    }
}

